{% extends 'base.html' %}


{% block title %}Chart.js | Documentation{% endblock title %}

{% block content %}
	<body class="sidebar-padded">
		<nav class="sidebar">
			{{ sidebar(doc['getting-started']) }}
			{{ sidebar(doc['line-chart']) }}
			{{ sidebar(doc['bar-chart']) }}
			{{ sidebar(doc['radar-chart']) }}
			{{ sidebar(doc['polar-area-chart']) }}
			{{ sidebar(doc['doughnut-pie-chart']) }}
			{{ sidebar(doc['advanced-usage']) }}
			{{ sidebar(doc['scales']) }}
			{{ sidebar(doc['notes']) }}
		</nav>

		<div class="documentation-header">
			<img class="chart-logo" src="/img/chartjs-logo.svg"/>
			<div class="documentation-title-wrapper">
				<h1 class="hero-title">Chart.js</h1>
				<h2 class="hero-subtitle">API Documentation</h2>
			</div>
		</div>
		<div class="documentation-body">
			{{ section(doc['getting-started']) }}
			{{ section(doc['line-chart']) }}
			{{ section(doc['bar-chart']) }}
			{{ section(doc['radar-chart']) }}
			{{ section(doc['polar-area-chart']) }}
			{{ section(doc['doughnut-pie-chart']) }}
			{{ section(doc['advanced-usage']) }}
			{{ section(doc['scales']) }}
			{{ section(doc['notes']) }}
		</div>
		<hr/>
		<footer>
			{% include 'footer.html' %}
		</footer>
		<script async src="/build.js"></script>
	</body>
{% endblock content %}

{% macro section(block) %}
	<section id="{{ block.anchor }}">
		<h2 class="section-title">
			<a class="fragment-link" href="#{{ block.anchor }}">{{ block.title }}</a>
		</h2>
		<div class="section-text">
			{{ block.text }}
		</div>
	</section>
{% endmacro %}

{% macro sidebar(block) %}
	<div class="sidebar-section">
		<h4 class="section-link">
			<a href="#{{ block.anchor }}">{{ block.title }}</a>
		</h4>
		<ul class="section-sublinks">
			{% for link in block.links %}
				<li>
					<a href="#{{ link.anchor }}">{{ link.text }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endmacro %}
