{% extends 'base.html' %}


{% block title %}Chart.js | Documentation{% endblock title %}

{% block content %}

	{% set blocks = [
			doc['getting-started'],
			doc['chart-configuration'],
			doc['line-chart'],
			doc['bar-chart'],
			doc['radar-chart'],
			doc['polar-area-chart'],
			doc['doughnut-pie-chart'],
			doc['scales'],
			doc['advanced-usage'],
			doc['notes']
	] %}

	<body class="sidebar-padded">
		<nav class="sidebar">
			{% for block in blocks %}
				{{ sidebar(block) }}
			{% endfor %}
		</nav>

		<div class="documentation-header">
			<img class="chart-logo" src="/img/chartjs-logo.svg"/>
			<div class="documentation-title-wrapper">
				<h1 class="hero-title">Chart.js</h1>
				<h2 class="hero-subtitle">API Documentation</h2>
			</div>
		</div>
		<div class="documentation-body">
			{% for block in blocks %}
				{{ section(block) }}
			{% endfor %}
		</div>
		<hr/>
		<footer>
			{% include 'footer.html' %}
		</footer>
		<script async src="/build.js"></script>
	</body>
{% endblock content %}

{% macro section(block) %}
	<section id="{{ block.anchor }}">
		<h2 class="section-title">
			<a class="fragment-link" href="#{{ block.anchor }}">{{ block.title }}</a>
		</h2>
		<div class="section-text">
			{{ block.text }}
		</div>
	</section>
{% endmacro %}

{% macro sidebar(block) %}
	<div class="sidebar-section">
		<h4 class="section-link">
			<a href="#{{ block.anchor }}">{{ block.title }}</a>
		</h4>
		<ul class="section-sublinks">
			{% for link in block.links %}
				<li>
					<a href="#{{ link.anchor }}">{{ link.text }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endmacro %}
